<main class="profile-page">
    <section class="section">
        <div class="container">
            <div class="text-center mt-5">
                <div>
                    <p>FirstName</p>
                    <p>{{ user.firstName }}</p>
                    <p>LastName</p>
                    <p>{{ user.lastName }}</p>
                </div>
                <p>Pseudo</p>
                <div class="h6 mt-4">{{ user.pseudo }}</div>
                <div class="mt-4">
                    <h4>Subjects:</h4>
                    <ul>
                        @for (subject of user.subjects; track subject.id) {
                        <li>
                            <p>
                                {{ subject.enumSubject }}
                            </p>
                            <p>
                                {{ subject.level }}
                            </p>
                        </li>
                        } @empty {
                        <li>No subjects</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <a routerLink="/profile/edit">Edit</a>
    </section>
</main>
