<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="text-center mt-5">
                <div>
                    <p>{{ user.firstName }}</p>
                    <p>{{ user.lastName }}</p>
                </div>
                <div class="h6 mt-4">{{ user.pseudo }}</div>
                <div class="mt-4">
                    <h4>Subjects:</h4>
                    <ul>
<!--                         @for (subject of user.subjects; track subject.id) {
                                                <li>
                                                <p>
                                                    {{ subject.enumSubject }}
                                                </p>
                                                <p>
                                                    {{ subject.level }}
                                                </p>
                                            </li>
                                            } @empty {
                                            <li>No subjects</li>
                        } -->
                    </ul>
                </div>
            </div>
        </div>
        <a routerLink="/profile/edit">Edit</a>
    </section>
</main>
