<footer class="footer">
    <div class="row">
      <div class="col-md-6">
            <div class="footer__left">
                <div class="footer__left__logo">
                    <img class="d-inline-block align-top img-fluid" alt="Logo" src="./assets/img/logo/logo-png.png">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="footer__right">
                <div class="footer__right__text">
                    <p>© 2024 Edulink. Muzard Geoffrey. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
