<nav class="navbar navbar-light bg-light row">
    <a class="navbar-brand col-2" routerLink="/home">
        <img class="d-inline-block align-top img-fluid" alt="Logo" src="./assets/img/logo/logo-png.png">
    </a>
    <button class="navbar-toggler col-1" type="button" (click)="ChangeCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!-- <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" routerLink="/home">
            <img src="./assets/img/logo/logo-png.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="ChangeCollapse()">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (isCollapsed){
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a routerLink="/home">
                            <img src="./assets/img/logo/logo-png.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="ChangeCollapse()">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <i class="ni ni-collection d-lg-none"></i>
                        <span class="nav-link-inner--text">Examples</span>
                    </a>
                    <div class="dropdown-menu">
                        <a routerLink="/user-profile" class="dropdown-item">Profile</a>
                        <a routerLink="/login" class="dropdown-item">Login</a>
                        <a routerLink="/register" class="dropdown-item">Register</a>
                    </div>
                </li>
            </ul> 
        }
    </div>
</nav> -->
